:root {
  --start: 50vh;
  --space: 50vh;
  --accent: hsl(200, 100%, 50%);
}

header {
  position: sticky;
  top: calc((7 - 1) * -1lh); /* 7 items */
  line-height: 1.2;
  margin-bottom: var(--space);
}

header.count-7 {
  --count: 7;
}

header section {
  display: flex;
  justify-content: center;
  padding-top: calc(var(--start) - 0.5lh);
}

h1 {
  position: sticky;
  top: calc(var(--start) - 0.5lh);
  margin: 0;
  font-weight: 600;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

li {
  background: linear-gradient(
    180deg,
    color-mix(in oklch, black, transparent 80%) 0 calc(var(--start) - 0.5lh),
    var(--accent) calc(var(--start) - 0.55lh) calc(var(--start) + 0.55lh),
    color-mix(in oklch, black, transparent 80%) calc(var(--start) + 0.5lh)
  );
  background-attachment: fixed;
  background-clip: text;
  color: transparent;
}